page-restaurant-list {

    .tabb {
      position: fixed;
      bottom:0vh;
      height: 50px;
      background-color: #424242;
      left: 0;
      text-align: center;
      color: white;
      width: 50%;
      z-index: 999;



      &:nth-of-type(2) {
            left: 50%;
        }

        &.item-md.item-block .item-inner {
            border-bottom: none;
        }
    }

    .selected {
        background-color:  #5f5e5e;
    }

    .title-list {
        text-align: center;
    }

    .scroll-content {
        margin-top: 56px;
        margin-bottom: 51px;
    }

    .line {
        &.item-md.item-block .item-inner {
            padding-right: 8px;
            border-bottom: 1px solid #dedede;
        }
    }

  .swiper-container {
    height: 200px !important;
  }

  .fontT2 {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    font-weight: 600;
    text-align: justify;
    line-height: 34px;
  }

  .p2 {
    font-size: 24px;
  }

  .fontTL {
    font-family: 'Allura',cursive;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }

  .w-100 {
    width: 100%;
  }
}
