<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="game">{{ game.title }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="sfondo1">

  <ion-card *ngIf="game">
    <ion-card-header class="centerT">
      Gioco
    </ion-card-header>
    <ion-card-content>
      {{ game.description }}
    </ion-card-content>
    <ion-card-content>
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="game">
    <ion-card-header class="centerT">
      Record
    </ion-card-header>
    <ion-card-content class="center">
      {{ game.record}} su {{ game.tot }}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="game">
    <ion-card-header class="centerT">
      Punteggio ultima partita
    </ion-card-header>
    <ion-card-content class="center">
      {{ game.lastPlay}} su {{ game.tot }}
    </ion-card-content>
  </ion-card>

  <button ion-button block (click)="navigate()">Inizia partita</button>

</ion-content>
