page-game-intro {

  .centerT {
    text-align: center;
    font-weight: 600;
  }

  .center {
    text-align: center;
  }

  .fontTL {
    font-family: 'Allura',cursive;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .fontM {
    font-family: 'Allura', cursive;
    font-size: 25px;
    font-weight: 700;
  }

  .fontT {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    font-weight: 500;
  }

}
