<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Giornata regalo</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="sfondo1">

  <ion-item-group *ngIf="images.length > 0 && steps && steps.length>0">

    <ion-slides autoplay="5000" loop="true" speed="500" pager="true">
      <ion-slide *ngFor="let img of images">
        <img src="../../../assets/imgs/special-day/carousel/{{ img.url }}">
      </ion-slide>
    </ion-slides>

    <ion-item-divider color="light" class="title-list">
      Step Lista
    </ion-item-divider>

    <ion-list>
      <button ion-item  *ngFor="let step of steps" (click)="navigate(step.id)">
        {{ step.title }}
        <ion-icon name="arrow-dropright" item-right></ion-icon>
      </button>
    </ion-list>

    <ion-buttons *ngIf="showNewStep" class="title-list btn-mg">
      <button ion-button (click)="goToNewStep()">Prossimo Step</button>
    </ion-buttons>

  </ion-item-group>


</ion-content>
