page-special-day {

  .title-list {
    text-align: center;
  }

  .btn-mg {
    margin-top: 20px;
  }

  .swiper-container {
    height: 200px !important;
  }

  .line {
    &.item-md.item-block .item-inner {
      padding-right: 8px;
      border-bottom: 1px solid #dedede;
    }
  }

}
