page-game-list {

    .img{
        width: 100%;
        height: 210px;
    }
    .bg{
        background-color: rgb(172, 168, 168);
    }
    .font{
        color: whitesmoke;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .card{
        margin-bottom: 25px;
        box-shadow: 4px 8px 6px rgb(78, 77, 77);
        border: solid 0.5px rgba(179, 173, 173, 0.61);
    }
}
