page-step-modal {
  .f-16 {
    font-size: 16px;
  }

  .f-20 {
    font-size: 20px;
  }

  .icon.icon-md.item-icon {
    color: #488aff;
  }

  .fontTL {
    font-family: 'Allura',cursive;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }

  .fontM {
    font-family: 'Allura', cursive;
    font-size: 25px;
    font-weight: 700;
  }

  .fontT {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
  }

  .b-right {
    float: right;
  }

}
