
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>True or False</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="sfondo1">

  <ion-item-group *ngIf="item && listGT && listGTC.length > 0">
    <img src="../../../assets/imgs/games/{{ item.url }}" class="img"/>

    <p class="titleQ">{{ item.quest }}</p>

    <ion-item-group class="fix">
      <ion-item class="cenT" (click)="verifyAnswer('true'); questionSlider()"> TRUE </ion-item>
      <ion-item class="cenT" (click)="verifyAnswer('false'); questionSlider()"> FALSE </ion-item>
    </ion-item-group>

    <ion-row class="bar col-12" *ngIf="life && answersTrue > -1">
      <ion-item-group class="col-6">
        <ion-icon name="star" item-start></ion-icon>
        <ion-icon name="{{ (life >= 2 ? 'star' : 'star-outline') }}" item-start></ion-icon>
        <ion-icon name="{{ (life >= 3 ? 'star' : 'star-outline') }}" item-start></ion-icon>
      </ion-item-group>
      <!--<ion-item-group class="mg">
        <ion-title>2:05</ion-title>
      </ion-item-group>-->
      <ion-item-group class="cal-6 center">
        <ion-title>{{ answersTrue }}/{{ listGT.length }}</ion-title>
      </ion-item-group>
    </ion-row>

  </ion-item-group>

</ion-content>
