<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Quiz</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="sfondo1 fontT">

  <ion-item-group *ngIf="item && listGO && listGOC.length > 0">
    <img src="../../../assets/imgs/games/{{ item.url }}" class="img"/>

    <p class="titleQ fontTL">{{ item.quest }}</p>

    <ion-item-group class="fix" *ngIf="answers && answers.length > 0">
      <ion-item class="cenT fontT" [ngClass]="isTrue1 == 1 ? 'green' : (isTrue1 == 2 ? 'red' : '')" (click)="gameOne(aw1, 1)">{{ aw1 }}</ion-item>
      <ion-item class="cenT  fontT" [ngClass]="isTrue2 == 1 ? 'green' : (isTrue2 == 2 ? 'red' : '')" (click)="gameOne(aw2, 2)">{{ aw2 }}</ion-item>
      <ion-item class="cenT  fontT" [ngClass]="isTrue3 == 1 ? 'green' : (isTrue3 == 2 ? 'red' : '')" (click)="gameOne(aw3, 3)">{{ aw3 }}</ion-item>
      <ion-item class="cenT  fontT" [ngClass]="isTrue4 == 1 ? 'green' : (isTrue4 == 2 ? 'red' : '')" (click)="gameOne(aw4, 4)">{{ aw4 }}</ion-item>
    </ion-item-group>

    <ion-row class="bar col-12" *ngIf="answers && answers.length > 0 && answersTrue > -1">
      <ion-item-group class="center">
        <ion-icon name="{{ (life >= 1 ? 'star' : 'star-outline') }}" item-start></ion-icon>
        <ion-icon name="{{ (life >= 2 ? 'star' : 'star-outline') }}" item-start></ion-icon>
        <ion-icon name="{{ (life >= 3 ? 'star' : 'star-outline') }}" item-start></ion-icon>
      </ion-item-group>
      <ion-item-group class="cal-4 center">
        <ion-item class="sfondo1 max" (click)="openModal()"><ion-icon name="{{ (help > 0 ? 'information-circle' : '') }}"></ion-icon></ion-item>
      </ion-item-group>
      <ion-item-group class="cal-4 center">
        <ion-title>{{ answersTrue }}/{{ listGO.length }}</ion-title>
      </ion-item-group>
    </ion-row>

  </ion-item-group>

</ion-content>

