<ion-card class="mg-b" *ngIf="itinerary && placesIt && placesIt.length>0">

  <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(itinerary.url)" width="100%" height="300px" frameborder="0" style="border:0"
    allowfullscreen></iframe>

  <ion-item-group *ngIf="placesIt">
    <p class="parag">{{ itinerary.description }}</p>
    <ion-item-group *ngFor="let resti of placesIt">
      <ion-item (click)="navigate(resti.id)">
        <ion-icon name="wine" item-start large></ion-icon>
        <h2>{{ resti.name }}</h2>
      </ion-item>
    </ion-item-group>
  </ion-item-group>

  <ion-item>
    <span item-start>{{ itinerary.time }}</span>
    <span item-start>({{ itinerary.distance }})</span>
    <button ion-button icon-start clear item-end (click)="load($event, itinerary.www)">
      <ion-icon name="navigate"></ion-icon>
      Start
    </button>
  </ion-item>
</ion-card>
